[project]
description = Kuryr Heat Templates
inheritFrom = All-Projects

[access "refs/*"]
owner = group user/Daniel Mellado (danielmellado)
owner = group kuryr_heat_core

[access "refs/for/refs/*"]
pushMerge = group kuryr_heat_core

[access "refs/heads/*"]
read = group Registered Users
read = group kuryr_heat_core
abandon = group kuryr_heat_core
create = group kuryr_heat_core
label-Code-Review = -2..+2 group kuryr_heat_core
label-Verified = -1..+1 group kuryr_heat_core
label-Workflow = -1..+1 group kuryr_heat_core
push = +force group kuryr_heat_core
pushMerge = group kuryr_heat_core
submit = group kuryr_heat_core

[access "refs/for/refs/heads*"]
push = group Registered Users
push = group kuryr_heat_core
pushMerge = group kuryr_heat_core
forgeCommitter = group kuryr_heat_core

[access "refs/drafts/*"]
push = block group Registered Users

[access "refs/tags/*"]
read = group Registered Users
read = group kuryr_heat_core
push = +force group kuryr_heat_core
pushSignedTag = group kuryr_heat_core
forgeCommitter = group kuryr_heat_core

[receive]
requireChangeId = true

[submit]
mergeContent = true
