[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Mellado (danielmellado)
[access "refs/for/refs/*"]
	read = group user/Daniel Mellado (danielmellado)
	push = group user/Daniel Mellado (danielmellado)
	label-Code-Review = -2..+2 group user/Daniel Mellado (danielmellado)
	label-Verified = -1..+1 group user/Daniel Mellado (danielmellado)
	rebase = group user/Daniel Mellado (danielmellado)
	removeReviewer = group user/Daniel Mellado (danielmellado)
	submit = group user/Daniel Mellado (danielmellado)
[access "refs/heads/*"]
	read = group user/Daniel Mellado (danielmellado)
	create = group user/Daniel Mellado (danielmellado)
	push = +force group user/Daniel Mellado (danielmellado)
	pushMerge = group user/Daniel Mellado (danielmellado)
[access "refs/tags/*"]
	push = group user/Daniel Mellado (danielmellado)
	push = +force group user/Daniel Mellado (danielmellado)
